{% extends 'dashboard/base_admin.html' %}
{% block title %}Tạo phiếu xuất kho{% endblock %}
{% block content %}
<h2>Tạo phiếu xuất kho</h2>
<form method="post">{% csrf_token %}
  {{ form.as_p }}
  {{ formset.management_form }}
  <table class="table">
    <thead>
      <tr>
        <th>Nguyên liệu</th>
        <th>Số lượng xuất</th>
      </tr>
    </thead>
    <tbody>
      {% for f in formset.forms %}
      <tr>
        <td>{{ f.material }}</td>
        <td>{{ f.quantity }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button class="btn btn-success">Xuất kho</button>
</form>
    <div>
      <a href="{% url 'dashboard:dashboard' %}" class="btn btn-secondary">← Quay về Dashboard</a>
    </div>
{% endblock %}