{% extends 'dashboard/base_admin.html' %}
{% block content %}

<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
           <h2 class="mb-3">Danh sách phiếu yêu cầu</h2>
            <div>
              <a href="{% url 'dashboard:dashboard' %}" class="btn btn-secondary me-2">← Quay về Dashboard</a>
            </div>
        </div>
  <div class="row g-3">
    {% for r in requests %}
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-body">

              <div class="d-flex justify-content-between">
                <div>
                  <h5 class="mb-1">Phiếu #{{ r.id }}</h5>
                  <span class="text-muted small">{{ r.created_at|date:"d/m/Y H:i" }}</span>
                </div>

                <span class="badge
                  {% if r.status == 'open' %} bg-warning text-dark
                  {% elif r.status == 'completed' %} bg-success
                  {% elif r.status == 'closed' %} bg-secondary
                  {% elif r.status == 'delivery_failed' %} bg-danger
                  {% endif %}
                ">
                  {{ r.get_status_display }}
                </span>
              </div>

              <ul class="list-unstyled small mt-2">
                {% for item in r.items.all %}
                  <li>• {{ item.material.name }} — SL: {{ item.quantity }}</li>
                {% endfor %}
              </ul>

              {% if r.pending_offers_count %}
                <span class="badge bg-danger">Có {{ r.pending_offers_count }} đề nghị chờ duyệt</span>
              {% endif %}

              <div class="mt-2">
                <a class="btn btn-sm btn-outline-primary"
                   href="{% url 'supplier_portal:request_detail' r.id %}">
                   Xem chi tiết
                </a>
              </div>

            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
